<li class="post-excerpt">
    <h5>
        <a href="{{url}}">{{title}}</a>  
        <time class="dates" datetime="{{date format='YYYY-MM-DD'}}">{{date format='MMMM D, YYYY'}}</time>
    </h5>
   
    <p>{{excerpt characters="300"}}&hellip;&nbsp;&nbsp;<a href='{{url}}'>Keep Reading →</a></p>
</li>